.sponsors {
  @include justifyCenter;

  background-color: $primary-colour;
  color: black;
  text-align: center;

  h1 {
    font-weight: normal;
    padding: .7em;
    font-size: 1.7em;
  }

  h3 {
    padding: 10px;
    font-weight: bold;
  }

  .sponsors-gold, .sponsors-silver, .sponsors-bronze, .sponsors-partners {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .sponsors-grid-item {
    margin: 10px;
    margin-bottom: 40px;
    border-style: solid;
    border-width: 4px;

    img {
      width: 100%;
      display: block;
    }

    &#cusu {
      border-color: #2570b6;
    }
    &#stickermule {
      border-color: #4e2817;
    }
    &#spirent {
      border-color: #345d9d;
    }
  }

  .sponsors-gold {
    .sponsors-grid-item {
      width: 460px;
    }
  }

  .sponsors-silver {
    .sponsors-grid-item {
      width: 340px;
    }
  }

  .sponsors-bronze {
    .sponsors-grid-item {
      width: 220px;
    }
  }

  .sponsors-partners {
    .sponsors-grid-item {
      width: 220px;
    }
  }
}
